<!-- <div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Jane Faker<br /></h4>
                    <h6 class="description">Music Producer</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>An artist of considerable range, Jane Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
                    <br />
                    <button class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> Settings</button>
                </div>
            </div>
            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Follows">
                            <ng-template ngbTabContent >
                                <div class="row following" id="follows">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Flume<br/><small>Musical Producer</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                        <div class="form-check">
                                                          <label class="form-check-label">
                                                            <input disabled class="form-check-input" type="checkbox" value="" checked="">
                                                            <span class="form-check-sign"></span>
                                                          </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Banks<br /><small>Singer</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                        <div class="form-check">
                                                          <label class="form-check-label">
                                                            <input disabled class="form-check-input" type="checkbox" value="" checked="">
                                                            <span class="form-check-sign"></span>
                                                          </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Following">
                            <ng-template ngbTabContent>
                                <h3 class="text-muted">Not following anyone yet :(</h3>
                                <br>
                                <button class="btn btn-warning btn-round">Find artists</button>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div> -->


<nav></nav>
<div class="wrapper">
    <div class="page-header">
        <div class=""></div>
        <div class="container mb-5">
            <div class="row">
                <div data-aos-duration="1500" class="col-lg-3 col-sm-3" data-aos="fade-right">
                    <img style="width: 105%;" src="../../../assets/img/examples/pngwing.com.png" alt="">
                </div>
                <div data-aos-duration="2000" class="col-lg-6 col-sm-6" data-aos="fade-up">
                    <h3 class="mb-3">Edit Profile</h3>
                    <form class="register-form" [formGroup]="UserForm" (ngSubmit)="onSubmit()">
                        <div class="row ">
                            <div class="form-group col-md-12">
                                <label for="">User Name</label>
                                <input disabled placeholder="Name"  type="text" class="form-control"
                                    formControlName="name">
                                    
                                    <!-- <div *ngIf="UserForm.controls.name.touched"> tttttttt </div> -->
                            </div>
                            <div class="form-group col-md-12">
                                <label for="">Gender</label>

                                <select disabled class="form-control"  formControlName="gender">
                                    <option value="" selected>Gender</option>
                                    <option value="Male" selected>Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="">Birth Date</label>
                                <input disabled placeholder="BirthDate"  type="date" class="form-control"
                                    formControlName="birth_date">
                            </div>
                            <div class="form-group  col-md-12">
                                <label for="">Address</label>
                                <input disabled placeholder="Address"  type="text" class="form-control"
                                    formControlName="address">
                            </div>
                            <div class="form-group  col-md-12">
                                <label for="">Number</label>

                                <input disabled placeholder="Contct Number"  type="number" class="form-control"
                                    formControlName="phone_number">
                            </div>
                            <br>
                            <div class="form-group col-md-12">
                                <label for="">Email</label>
                                <input disabled required placeholder="Email"  type="email" class="form-control"
                                    formControlName="email">
                            </div>
                            <div class="input-group form-group col-md-12 ">
                                <label style="
                                width: 100%;
                            " for="">Password</label>
                                <input disabled  required  #password
                                    [type]="ShowPassord ==false ? 'password' : 'text'" class="form-control"
                                    placeholder="Password">
                                <div class="input-group-prepend">
                                    <span (click)="showPassword()" type="button" class="input-group-text"
                                        [hidden]="!UserForm.controls.password?.value">
                                        <i
                                            [ngClass]=" ShowPassord ==false ? 'nc-icon nc-bulb-63' : 'nc-icon nc-lock-circle-open'"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger btn-block btn-round"
                                [disabled]="UserForm.invalid">Update</button>
                        </div>
                    </form>
                </div>
                <div data-aos-duration="1500" class="col-lg-3 col-sm-3" data-aos="fade-left">
                    <img src="../../../assets/img/examples/rsvp-flower.png" alt="">
                </div>

            </div>
        </div>
    </div>
</div>